.list{
    display: flex;
    list-style: none;
}

.item:not(:last-child){
    margin-right: 20px;
}

.button{
    width: 200px;
    height: 50px;
    
    font-weight: 700;
    font-size: 20px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    
    color: rgb(206, 206, 206);
    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
transition: transform 250ms linear;
}

.button:hover{
    transform: scale(1.05);
}

.good{
composes: button;
background-color: rgb(24, 184, 3);
}

.neutral {
composes: button;
background-color: rgb(250, 246, 8);
}

.bad {
composes: button;
background-color: rgb(247, 10, 10);
}